/*Tipografías*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,600&display=swap');
/*Variables*/

:root {
    /*Paleta*/
    --rich-black: #002626ff;
    /*Gris*/
    --cornflower-blue: #858ae3ff;
    /*Azul-morado*/
    --morning-blue: #81a094ff;
    /*Azul claro*/
    --flame: #ec4e20ff;
    /*Fllama-nive*/
    --auburn: #a52422ff;
    /*rojo hoja*/
    /*Verde Pera*/
    --pera: #D1E231;
    /*Base*/
    --tamanyo-barra: 8vh;
}

/*Poner a cero el contador*/

* {
    margin: 0;
    padding: 0;
    font-family: "Open Sans";
}

main {
    /*Pone de fondo al main el color */
    font-size: 3vmin;
}

#barra_arriba {
    /*Lo hace un flex*/
    display: flex;
    /*Hace que el contenido este separado lo más posible entre si*/
    justify-content: space-between;
    /*Los alinea al centro de la barra en el eje Y*/
    align-items: center;
    /*Hace que este en una fila*/
    flex-direction: row;
    background-color: var(--morning-blue, blue);
    position: fixed;
    padding: 10px;
    width: 100%;
    height: var(--tamanyo-barra);
    color: white;
}

#about {
    /*Añade margen al css*/
    margin-top: var(--tamanyo-barra);
    background-color: var(--pera);
    /*Miscelanea*/
    font-size: 3.5vmin;
    height: 70vh;
    color: var(--rich-black);
}

h1, h2 {
    font-size: 5vmin;
    text-align: center;
}

iframe {
    width: 50vw;
    height: 55vh;
    margin-top: 4vh;
    border: white solid 0.5vmin;
}

.link_nav {
    text-decoration: none;
    color: white;
    margin-right: 10vmin;
    font-size: 3.5vmin;
}

#features {
    background-color: white;
}

.flex-centro {
    /*Flex*/
    display: flex;
    flex-direction: column;
    /*Tamanyo flex*/
    width: auto;
    /*Centra el contenido dle flex*/
    align-items: center;
    justify-content: center;
    padding: 4vmin;
}

.cuadrado_verde {
    background-color: var(--pera);
    padding: 5vmin;
    text-align: center;
    line-height: 5vh;
    margin-top: 2vh;
    border-radius: 10%;
}

#reque {
    background-color: var(--pera);
    text-align: center;
    margin-top: 4vh;
}

#reque p {
    background-color: white;
    border-radius: 10%;
    padding: 10vh;
    margin-top: 5vh;
}

#insta .cuadrado_verde {
    margin: 2vh 25% 0;
}

footer {
    width: 100%;
    background-color: var(--morning-blue, grey);
    height: 60vh;
    text-align: center;
    padding: 2vh 2vw;
}

footer, h2 {
    color: white;
    margin-top: 2vh;
}

#zona_conta {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    height: 40vh;
}

footer, section, img {
    width: auto;
    max-height: 100%;
}

footer, p {
    margin-top: 3vmin;
}

#email {
    width: auto;
    max-height: 8vh;
}